
.Banner{
    background-image: linear-gradient(to bottom right, #51007A, #CC5EFF);
    position: relative;
    width: calc(100% - 100px);
    height: auto;
    padding: 50px;
}

.Banner__Contact{
    position: absolute;
    top: 2vh;
    right: 2vh;
    /*background-color: rgba(204, 94, 255, 0.5);*/
    /*color: #51007A;*/
    width: 180px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.Banner__Contact > img{
    height: 100%;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.2s;
    top: 0;
    position: relative;
}

.Banner__Contact > img:hover{
    transform: scale(1.2);
}

.Banner__Title{
    margin-top: 2%;
    font-family: "Raleway Black";
    left: 10%;
    position: relative;
    color: white;
    font-size: 600%;
    width: 80%;
    max-font-size: 20px;
}

.Banner__Subtitle{
    font-size: 350%;
    max-font-size: 50px;
    color: white;
    font-family: "Raleway Italic";
    position: relative;
    left: 10%;
    width: 80%;
    margin-top: 4%;
}

.Banner__IconGrid{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    transition: all 0.2s;
}

.Banner__Icon{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    top: 0;
    transition: all 0.2s ease;
}

.Banner__Icon:hover{
    top: -10px;
}

.Banner__IconText{
    animation: slide-up-fade-in ease 1s;
    position: absolute;
    transition: all 0.2s;
    text-align: center;
    top: 90%;
    white-space: nowrap;
    cursor: pointer;
}

.Banner__IconText > a{
    color: white;
    text-decoration: none;
    font-size: 170%;
    font-family: "Raleway Italic";
    transition: all 0.2s;
}

.Banner__IconText > a:hover{
    color: #51007A;
}

.Banner__Icon > img{
    width: 5vw;
    height: 5vw;
    transition: all 0.2s;
}

@media (min-width: 1300px) {

    .Banner__Title{
        font-size: 80px;
    }

    .Banner__Subtitle{
        font-size: 50px;
    }
}

@keyframes slide-up-fade-in{
    0% {
        opacity:0;
        transform:  translate(0px,5px)  ;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
    }
}

@media (max-width: 600px) {
    .Banner{
        font-size: 80%;
    }
}


@media (max-width: 400px) {
    .Banner{
        font-size: 50%;
    }
}
