
.Banner{
    background-image: linear-gradient(to bottom right, #51007A, #CC5EFF);
    position: relative;
    width: calc(100% - 100px);
    height: 25%;
    padding: 50px;
}

.Banner__Title{
    margin-top: 2%;
    font-family: "Raleway Black";
    left: 10%;
    position: relative;
    color: white;
    font-size: 600%;
    width: 80%;
    max-font-size: 20px;
}

.Banner__Subtitle{
    font-size: 350%;
    max-font-size: 50px;
    color: white;
    font-family: "Raleway Italic";
    position: relative;
    left: 10%;
    width: 80%;
    margin-top: 4%;
}

@media (min-width: 1300px) {
    .Banner{
        height: 400px;
    }

    .Banner__Title{
        font-size: 80px;
    }

    .Banner__Subtitle{
        font-size: 50px;
    }
}