
.Contact{
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    background-color: rgba(204, 94, 255, 0.5);
    /*color: #51007A;*/
    width: 180px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.Contact > img{
    height: 100%;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.2s;
    top: 0;
    position: relative;
}

.Contact > img:hover{
    transform: scale(1.2);
}
