html{
    scroll-behavior: smooth;
}

body{
    font-size: 1vw;
    margin: 0;
    width: 100%;
}

@media (max-width: 800px) {
    body{
        font-size: 10px;
    }
}

h1{
    font-size: 120%;
    font-family: Raleway Light;
}


.Category{
    border-bottom: 1px dashed #CC5EFF;
    position: relative;
    width: 90%;
    padding: 8% 2.5%;
    margin: 0 2.5%;
    font-family: "Raleway Light";
    font-size: 200%;
}

@media (min-width: 1400px) {

    body{
        font-size: 0.7vw;
    }

    .Category{
        position: relative;
        left: 20%;
        width: 50%;
    }
}

@media (min-width: 2000px) {

    body{
        font-size: 0.5vw;
    }

    .Category{
        position: relative;
        left: 20%;
        width: 50%;
    }
}

@font-face {
    font-family: "Raleway Light";
    src: url("./fonts/Raleway-Light.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-Regular.ttf");
}


@font-face {
    font-family: "Raleway Light Italic";
    src: url("./fonts/Raleway-LightItalic.ttf");
}

@font-face {
    font-family: "Raleway Bold";
    src: url("./fonts/Raleway-Bold.ttf");
}

@font-face {
    font-family: "Raleway Bold Italic";
    src: url("./fonts/Raleway-BoldItalic.ttf");
}

@font-face {
    font-family: "Raleway Black";
    src: url("./fonts/Raleway-Black.ttf");
}

@font-face {
    font-family: "Raleway Black Italic";
    src: url("./fonts/Raleway-BlackItalic.ttf");
}

@font-face {
    font-family: "Raleway Medium";
    src: url("./fonts/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Raleway Medium Italic";
    src: url("./fonts/Raleway-MediumItalic.ttf");
}

@font-face {
    font-family: "Raleway Regular";
    src: url("./fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway Italic";
    src: url("./fonts/Raleway-Italic.ttf");
}
